*.apk
*.zip
*.exe
*.iml
*.jks
*.log
*.ffs_db
*.patch
*.salive
.tmp_*.txt
*.py[cod]

.DS_Store
.externalNativeBuild
.cxx/
output.json
output-metadata.json
desktop.ini

.bak/
.git/
.gradle/
.hprof/
.kotlin/
__pycache__/

!.run

.idea/

/build/
/libs/**/build/
/modules/**/build/
/plugin-api/**/build/
/captures/
/fixtures/local/
/release/
/releases/
/tools/*
!/tools/r4_custom_fixture.py

/gradle/wrappers/backup/

/local.properties
/sign.properties
/*dependecies_tree.txt

**/assets-app/declarations/
**/assets-app/sample/declarations/

app/build/
build-logic/build/
build-logic/*/build/
