<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="org.autojs.permission.PLUGIN" />

    <queries>
        <package android:name="org.autojs.autojs6" />
    </queries>

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="org.autojs.plugin.info.AUTHOR"
            android:value="@string/plugin_author" />

        <service
            android:name=".YoloPluginInfoService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN">
            <intent-filter>
                <action android:name="org.autojs.plugin.INFO" />
                <category android:name="yolo" />
            </intent-filter>
            <meta-data
                android:name="requiresHostVersion"
                android:value="5275" />
            <meta-data
                android:name="org.autojs.plugin.contract.RUNTIME_COMPONENT"
                android:value="@string/plugin_runtime_component" />
            <meta-data
                android:name="org.autojs.plugin.contract.PROTOCOL_API_MIN"
                android:value="@string/plugin_protocol_api_min" />
            <meta-data
                android:name="org.autojs.plugin.contract.PROTOCOL_API_MAX"
                android:value="@string/plugin_protocol_api_max" />
            <meta-data
                android:name="org.autojs.plugin.contract.BACKEND"
                android:value="@string/plugin_backend" />
            <meta-data
                android:name="org.autojs.plugin.contract.TASK"
                android:value="@string/plugin_task" />
            <meta-data
                android:name="org.autojs.plugin.contract.DECODER"
                android:value="@string/plugin_decoder" />
            <meta-data
                android:name="org.autojs.plugin.contract.SUPPORTED_ABIS"
                android:value="@string/plugin_supported_abis" />
        </service>

        <service
            android:name=".provider.YoloProviderService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN"
            android:process=":provider">
            <intent-filter>
                <action android:name="org.autojs.plugin.YOLO" />
                <category android:name="yolo" />
            </intent-filter>
            <meta-data
                android:name="requiresHostVersion"
                android:value="5275" />
            <meta-data
                android:name="org.autojs.plugin.contract.RUNTIME_COMPONENT"
                android:value="@string/plugin_runtime_component" />
            <meta-data
                android:name="org.autojs.plugin.contract.PROTOCOL_API_MIN"
                android:value="@string/plugin_protocol_api_min" />
            <meta-data
                android:name="org.autojs.plugin.contract.PROTOCOL_API_MAX"
                android:value="@string/plugin_protocol_api_max" />
            <meta-data
                android:name="org.autojs.plugin.contract.BACKEND"
                android:value="@string/plugin_backend" />
            <meta-data
                android:name="org.autojs.plugin.contract.TASK"
                android:value="@string/plugin_task" />
            <meta-data
                android:name="org.autojs.plugin.contract.DECODER"
                android:value="@string/plugin_decoder" />
            <meta-data
                android:name="org.autojs.plugin.contract.SUPPORTED_ABIS"
                android:value="@string/plugin_supported_abis" />
        </service>

    </application>

</manifest>
